.main_div{
    overflow: hidden;
    display: flex;
    margin: 30px 30px;
}

 .first_col{
    width: 50%
}  

.main-slide{
    padding-top:3px;
    object-fit:cover
}

.carousel .slider-wrapper{
    width:50%
}

.carousel .thumb{
    width:5%;
    height:50px;
    background-color: #fff;
    margin: 0;
    position: relative;
}

.carousel{
    text-align:center;
    
}

.img_div{
    background-color: #fff;
    margin: 0;
    position: relative;
    background-color: #222;
    width: 35%;
    height: 100%;
    border:none;
    display: block;
    border: 5px;
    border-color : gray;
    border-radius: 10px;
}
.im{
    height: 100%;
    width: 100%;
    object-fit: contain;
    
}
.image_div{
    background-color: #fff;
    border: 1px solid rgba(0,47,52,.36);
    border-radius: 4px;
    padding: 0rem;
    margin-top: 0.8rem;
    width: 100%;
    overflow: hidden;
}

.image_subdiv{
    position: relative;
    width: 100%;
    min-height: 48rem;
}

.cover_image_div{
    position: relative;
    width: 100%;
    height: 48rem;
    background-color: #000;
}

.image_gallery{
    height: 100%;
    direction: ltr;
}

.image_gallery_content{
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.image_gallery_side_wrapper{
    position: relative;
    touch-action: manipulation;
    height: 100%;
}

.btnn {
    position: absolute;
    top: calc(50% - 2.4rem);
    height: 4.8rem;
    width: 4.8rem;
    border-radius: 50%;
    background-color: rgba(0,0,0,.2);
    z-index: 1;
    padding: 0;
    border: none;
    cursor: pointer;
    
}

.right{
    right: 2rem
}
.left{
    left: 2rem
}

.arrow_btn{
    height: 2rem;
    width: 2rem;
    fill: #fff;
}

.image_gallery_swipe{
    height: 100%;
}

.image_gallery_slides{
    transition: all 250ms ease 0s;
    transform: translate3d(-2224px, 0px, 0px);
    position: relative;
    display: inline-flex;
    height: 100%;
    overflow: hidden;
    white-space: nowrap;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}

.image_gallery_slide{
    width: 100%;
    top: 0;
    left: 0;
    background-color: transparent;
    -o-object-fit: cover;
    object-fit: cover;
    position: relative;
    display: inline-flex;
    height: 100%;
    width: 556px;
}

.picture{
    width: 100%;
    margin: 0;
    height: 100%
}

.main_img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.numbers{
    position: absolute;
    bottom: 1.6rem;
    right: 3.2rem;
    color: #fff;
    font-size: 1.008rem;
}

.carousel{
    width: 100%;
    margin: 1.5rem 0;
    position: relative;
    display: flex;
}

.navigation {
    display: flex;
    align-items: center;
}

.l{
    margin-left: 2.8rem;
}

.carouselGroupContentStart{
    display: flex;
    overflow: hidden;
    justify-content: flex-start;
}

.carousel_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: transparent;
    border-radius: 3px;
    border: none;
    overflow: hidden;
    padding: 0;
    margin-right: 2.4rem;
}

.pict{
    display: inline-flex;
    height: auto;
    margin: auto;
}

.c_img{
    width: 6rem;
    height: 6rem;
    object-fit: cover;
}