.list{
    list-style: none;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.t{
    margin: 0 0 0 30px;
    font-weight: 750;
    font-size: 30px;
    text-align: left;

}

#ad{
    text-decoration:none;
}