.home{
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 50px 80px;
    
}

.home_panelList-wrap
.home_panel-wrap
.home_list-wrap{
    overflow-y: auto;
}
.home_panelList-wrap{
    display: flex;
    flex:1;
}

.home_panel-wrap{
    border: 1px solid #edd6bf;
    background-color: rgb(235, 229, 223);
    border-radius: 10px 10px 10px 10px;
    flex-basis: 280px;
    padding: 1rem;
    margin-right: 10px;
}

.home_list-wrap{
    flex:1;
    border-radius: 10px 10px 10px 10px;

}

.t{
    margin: 0  0 10px;
    font-weight: 750;
    font-size: 30px;
    text-align: left;
}

.span_filters{
    font-style: italic;
    font-size: 15px;
    color: #61797d;
    margin: 10px 0px;
}