.row {
    margin:15px;
}

.mainLabel{
    font-weight: 600;
    font-size: 18px;
    background-color: #cae7ea ;
    border-radius: 10px;
    padding: 3px 10px;
}

.subLabel{
    font-weight: 600;
    margin-bottom: 5px;
}
.container{
    border-width: 5px 5px;
    border-color: dimgray;
    border-radius: 15px 15px;
}
textarea {
    resize: none;
  }

.img2{
  border-width: 2px 2px;
  border-color: dimgray;
  border-radius: 5px 5px;
  margin: 10px
}
#file[type="file"] {
	display: none;
}

#file_up::before {
    content: "+";
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    background: white;
    color: rgb(250, 200, 107);
    font-size: 17rem;
    text-align: center;
    cursor: pointer;
    margin: auto;
  }
  
  .upload {
    max-width: 450px;
    width: 150px;
  height: 150px;
    border: 1px solid #ddd;
    padding: 15px;
    margin: 20px;
    position: relative;
  }
  